.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
}

.card {
    outline: 1px black solid;
}

.title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;  
}