.grid {
    display: grid;
    gap: 1rem;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

@media (min-width: 700px) and (max-width: 1100px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1100px) and (max-width: 1425px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1425px) and (max-width: 1750px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1750px) {
    .grid {
        grid-template-columns: repeat(5, 1fr);
    }
}
