.introContainer {
    margin: 2rem 0rem;
}

.introTitle {
    text-align: center;
    color: rgb(145, 71, 255);
}

.introPar {
    font-size: 1.25rem;
    text-align: center;
}

@media (min-width: 700px) {
    .introContent {
        margin: 0rem 10rem;
    }
}