.userSearch {
    padding: .25rem 0;
    padding-left: .5rem;
    border-width: .15rem;
    border-radius: .5rem;
    min-width: 320px;
}

.userSearch:focus {
    outline: none;
}

@media (prefers-color-scheme: dark) {
    .userSearch {
        background-color: rgb(15, 15, 15);
        border-color: rgb(65, 65, 65);
    }
    
    .userSearch:focus {
        border-color: rgb(145, 71, 255);
    }
}

@media (prefers-color-scheme: light) {
    .userSearch {
        background-color: rgb(255, 255, 255);
        border-color: rgb(238, 238, 238);
    }
    
    .userSearch:focus {
        border-color: rgb(119, 44, 232);
    }
}